@import "./_vars.scss";

.contents {
    width: 100%;
    line-height: 1.8em;
}

.contents img {
    width: 100%;
    max-width: 500px;
}

.contents code {
    color: white;
}

table, th, td {
    border-collapse: collapse;
    border: 2px solid $red;
}

th, td {
    padding: 10px;
}

div:has(> table) {
    width: 100%;
    overflow-x: auto;
}